@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html, body {
  font-family: 'Roboto', sans-serif; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #fff;
  padding-top: 1rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: auto;
  max-width: 1700px;
  height: 6vh; }
  .nav__img {
    width: 200px; }
  .nav__logo {
    font-family: "Great Vibes", sans-serif;
    font-size: 3rem;
    text-align: center; }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav__item {
    margin: 0.5rem;
    text-decoration: none;
    color: #000; }
    .nav__item:visited {
      color: #000; }
    .nav__item:hover {
      border-bottom: solid 5px #512D48; }

.hero {
  background-image: url("assets/hero__bg.jpg");
  background-size: cover;
  background-position: -30%;
  position: relative;
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  .hero__cont {
    z-index: 9; }
  .hero__title {
    font-size: 3.5rem;
    font-weight: 500;
    color: #fff;
    margin: auto;
    width: fit-content;
    text-align: center;
    border: solid 5px #fff;
    letter-spacing: 0.3rem;
    padding: 2.5rem;
    line-height: 1; }
  .hero::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #512D48;
    filter: opacity(0.5);
    position: absolute;
    z-index: 3; }

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10rem;
  height: 60vh;
  background-color: #512D48;
  overflow: hidden; }
  .about__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 40%;
    height: 60vh;
    color: #fff;
    margin: auto 2rem; }
  .about__title {
    width: 100%;
    font-size: 3rem;
    border-bottom: solid 1px #fff;
    padding-bottom: 1rem; }
  .about__para {
    padding-top: 0.5rem;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    border-bottom: solid 1px #fff; }
    .about__para > span {
      display: inline-block;
      margin-top: 2rem;
      font-weight: 600;
      padding-bottom: 1rem; }
  .about__img {
    width: 60%;
    object-fit: cover;
    margin-top: 15rem; }

.product {
  margin: 5rem auto; }
  .product__title {
    font-size: 3rem;
    color: #512D48;
    text-align: center;
    border-bottom: solid 3px #512D48;
    width: fit-content;
    margin: auto;
    font-weight: 300; }
    .product__title > span {
      font-weight: 600; }
  .product__cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1700px;
    margin: 3rem auto;
    flex-wrap: wrap; }

.card {
  max-width: 25%;
  padding: 0.5rem;
  box-shadow: 0 0 10px #b3b3b3; }
  .card__img {
    border-radius: 5px; }
  .card__title {
    color: #512D48;
    font-size: 2rem;
    border-bottom: solid 1px #512D48;
    line-height: 1;
    margin: 0.5rem auto;
    padding-bottom: 0.5rem; }
  .card__sub {
    color: #707070; }
  .card__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 100%;
    background-color: #512D48;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer; }
    .card__btn:hover {
      background-color: #381830; }
    .card__btn:active {
      background-color: #512D48; }

.footer {
  background-color: #512D48;
  height: 10vh; }
  .footer__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1700px;
    margin: auto;
    height: 100%; }
  .footer__title {
    color: #fff; }
  .footer__icons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__social {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 2rem; }
