header{
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: #fff;
    padding-top: 1rem;
}
.nav{
    @include flex-row(center, space-between);
    background-color: #fff;
    margin: auto;
    max-width: 1700px;
    height: 6vh;
    &__img{
        width: 200px;
    }
    &__logo{
        font-family: "Great Vibes", sans-serif;
        font-size: 3rem;
        text-align: center;
    }

    &__list{
        @include flex-row(center, space-between);
    }   

    &__item{
        margin: 0.5rem;
        text-decoration: none;
        color: #707070;
        &:visited{
            color: #707070;
        }
        &:hover{
            border-bottom: solid 5px $accent;
        }
    }



}
