@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,500&display=swap');


*, *::before, *::after {
  box-sizing: border-box; 
}

* {
  margin: 0; 
}

html, body {
  font-family: 'Montserrat', sans-serif; 
  position: relative;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; 
}

input, button, textarea, select {
  font: inherit; 
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; 
}
