.about{
    @include flex-row(center, space-between);
    padding-bottom: 10rem;
    height: 60vh;
    background-color: $accent;
    overflow: hidden;
    &__info{
        @include flex-col(start, center);
        width: 40%;
        height: 60vh;
        color: #fff;
        margin: auto 2rem;
    }

    &__title{
        width: 100%;
        font-size: 3rem;
        border-bottom: solid 1px #fff;
        padding-bottom: 1rem;
    }

    &__para{
        padding-top: 0.5rem;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 300;
        & > span{
            display: inline-block;
            margin-top: 2rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }

        border-bottom: solid 1px #fff;
    }
    &__img{
        width: 60%;
        // height: 50vh;
        object-fit: cover;
        margin-top: 15rem;
    }
}