.hero{
    background-image: url("assets/hero__bg.jpg");
    background-size: cover;
    background-position: -100%;
    position: relative;
    width: 100%;
    height: 93vh;
    @include flex-col(center, center);
    z-index: 1;

    &__cont{
        z-index: 9;

    }

    &__title{
        font-size: 3.5rem;
        font-weight: 600;
        color: #fff;
        margin: auto;
        width: fit-content;
        text-align: center;
        border: solid 5px #fff;
        letter-spacing: 0.3rem;
        padding: 2.5rem;
        line-height: 1;
    }

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        background-color: $accent;
        filter: opacity(0.5);
        position: absolute;
        z-index: 3;
    }
}

