.product{
    // height: 100vh;
    margin: 5rem auto;
    &__title{
        font-size: 3rem;
        color: $accent;
        text-align: center;
        border-bottom: solid 3px $accent;
        width: fit-content;
        margin: auto;
        font-weight: 300;
        & > span{
            font-weight: 600;
        }
    }
    // &__cont{
    //     @include flex-row(start, space-between);
    //     max-width: 1500px;
    //     margin: 3rem auto;
    //     flex-wrap: wrap;
    // }
    &__cont{
        max-width: 1500px;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

.card{
    max-width: 450px;
    padding: 1rem;
    box-shadow: 0 5px 11px #00000029;
    margin: 1rem auto 2rem auto;

    &__img{
        width: 470px;
        border-radius: 5px;
    }
    &__title{
        color: $accent;
        font-size: 2rem;
        border-bottom: solid 2px $accent;
        line-height: 1.2;
        margin: 1rem auto 0.2rem auto;
        padding-bottom: 0.5rem;
    }
    &__sub{
        color: #707070;
        font-size: 1.25rem;
    }
    &__btn{
        @include flex-row(center, space-between);
        font-size: 1.31rem;
        margin-top: 1rem;
        width: 100%;
        background-color: $accent;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 0.5rem 1.5rem;
        text-align: left;
        cursor: pointer;
        &:hover{
            background-color: #381830;
        }
        &:active{
            background-color: $accent;
        }
    }
}